/*********************/
/****COLOR BUTTONS****/
/*********************/
.color-buttons-wrapper {
  height: 30vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-buttons-wrapper h3 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 20px;
  width: 160px;
}

.circle-picker {
  width: 260px;
}
