body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  background: url('https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-mesh-display {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-user-menu {
  width: 20vw;
}
